
body
{
    color: blueviolet;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#contenedor
{
width: 70%;
padding: 1cm;
text-align: left;
border: 1px solid rgb(99, 22, 22);
margin: 0 auto;
}

#contenedor h1
{
    font-size: 30px;
}
#cabecera
{
    background: blue;
    box-shadow: 0px 2px 20px 0px black;
    color: white;
     font-weight: bold;
     margin: 0;
     padding: 0.5cm;
}
#cabecera #tagline
{
    padding: 0 0 0 1cm;
    font-weight: normal;
    font-size: 0.8cm;

}